h1 {
    color:red;
}

.header {
    color: black;
    font-size: 3em;
}

.dollar-amount,
ul li {
    width: 75%;
}
body {
    padding : 2em;
}

.sub-text {
    padding-bottom: 1em;
}

.error {
    border-color: red;
}

#tip-other-amount { 
    display: inline;
    padding-bottom: 0.75em;
    width: 12%;
}